/MathLib/obj
/MathLib/bin
/.vs/Benov.Libraries/DesignTimeBuild/.dtbcache
/.vs/Benov.Libraries/v15/.suo
/.vs/Benov.Libraries/v15/Server/sqlite3/db.lock
/.vs/Benov.Libraries/v15/Server/sqlite3/storage.ide
/.vs/Benov.Libraries/v15/Server/sqlite3/storage.ide-shm
/.vs/Benov.Libraries/v15/Server/sqlite3/storage.ide-wal
/.vs/Benov.Libraries/DesignTimeBuild/.dtbcache.v2
/.vs/Benov.Libraries/v16/.suo
/.vs/Benov.Libraries/v16/Server/sqlite3/db.lock
/.vs/Benov.Libraries/v16/Server/sqlite3/storage.ide
